@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vb;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}
article{
    background-color: #fff;
    max-width: 320px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}
img{
    width: 100%;
    border-radius: 10px;
}
h2{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    margin: 20px 10px;
    font-size: 22px;
}
p{
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 15px;
}